# Cache crap that Valve autogenerates
*.bin
*.cfg
*.soc
*.tmp

# Compiled formats
*.vagrp_c
*.vanim_c
*.vcss_c
*.vjs_c
*.vmat_c
*.vmdl_c
*.vmesh_c
*.vmorf_c
*.vpcf_c
*.vpk
*.vseq_c
*.vsnd_c
*.vsndevts_c
*.vtex_c
*.vxml_c

# Compiled assets
game/maps/
game/materials/
game/models/
game/particles/
game/soundevents/
game/sounds/

# Map overviews
resource/overviews/*

#Github dump
*.stackdump

game/scripts/vscripts/components/statcollection/settings.kv
game/scripts/vscripts/components/api/backend_key.kv

game/network_measurement\.txt
game/rich_presence_persistent_data\.txt

game/server_log\.txt

# Roshan
content/models/rosh*

# eclipse
.project
.settings
.DS_Store
.idea

node_modules
